<div class="header-da-pagina">
  <div class="header-da-pagina-logo">
    <img src="assets/images/logo-marvel.svg" alt="logo" />
  </div>

  <div class="header-da-pagina-menu">
    <a routerLink="/home">Início</a>
    <a routerLink="/characters"> Personagens </a>
    <a routerLink="/comics">Quadrinhos</a>
    <a>Series</a>
  </div>

  <div class="header-da-pagina-redes-sociais">
    <a
      href="https://twitter.com/MarvelBR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
      ><img src="assets/images/logo-twitter.svg" alt="twitter"
    /></a>
    <a href="https://www.instagram.com/marvelbrasil/?hl=pt-br"
      ><img src="assets/images/logo-instagram.svg" alt="instagram"
    /></a>
  </div>
</div>

<div class="conteudo-da-pagina-selecionado">
  <router-outlet></router-outlet>
</div>
