<div class="header-da-pagina">
  <div class="header-da-pagina-logo">
    <img src="assets/images/logo-marvel.svg" alt="logo" />
  </div>

  <div class="header-da-pagina-menu">
    <a routerLink="/home">Início</a>
    <a routerLink="/characters"> Personagens </a>
    <a routerLink="/comics">Quadrinhos</a>
    <a>Series</a>
  </div>

  <div class="header-da-pagina-redes-sociais">
    <img src="assets/images/logo-twitter.svg" alt="twitter" />
    <img src="assets/images/logo-instagram.svg" alt="instagram" />
  </div>
</div>

<div class="conteudo-da-pagina-selecionado">
  <router-outlet></router-outlet>
</div>
