<div class="header-da-pagina">
  <div class="header-da-pagina-menu">
    <button nz-button nzShape="round">
      <i nz-icon nzType="home" nzTheme="fill"></i>
    </button>
    <button nz-button nzShape="round">Characters</button>
    <button nz-button nzShape="round">Comics</button>
    <button nz-button nzShape="round">Series</button>
    <button nz-button nzShape="round">Stories</button>
  </div>
  <div class="header-da-pagina-logo">
    <img src="assets/images/logo-marvel.svg" alt="logo" />
  </div>
</div>

<div class="conteudo-da-pagina-selecionado">
  <router-outlet></router-outlet>
</div>
