.header-da-pagina {
  height: 80px;
  display: grid;
  align-items: center;
  grid-template-columns: 18% 70% 5%;
  gap: 2%;

  border-bottom: 1px solid #ed1d24;

  &-logo {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ed1d24;
  }

  &-menu {
    display: flex;
    align-items: center;
    gap: 16px;

    a {
      text-decoration: none;
      font-weight: 700;
      font-size: 20px;
      color: #ed1d24;
      transition: color 0.2s;

      &:hover {
        color: #ee1409;
      }
    }
  }

  &-redes-sociais {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.conteudo-da-pagina-selecionado {
  padding: 16px;
}
