<div class="home">
  <div class="home-informacoes">
    <div class="home-informacoes-apresentacao">
      <h1>OS MELHORES PERSONAGENS FEITOS EM QUADRINHO</h1>
      <p>
        A Marvel Comics é uma editora norte-americana de mídias relacionadas.
        Hoje a Marvel Comics é considerada a maior editora de histórias em
        quadrinhos do mundo.
      </p>
      <a
        href="https://www.marvel.com/unlimited?cid=SEM_Google_20200302_unlimited_Brand&gclid=CjwKCAjwsfuYBhAZEiwA5a6CDG5R4oT74e4BnsXMKlCrSt24-DOF-VmcGgu1-ZkhBlOTjy0GvRNl8xoCXKcQAvD_BwE"
        ><img src="assets/images/link.svg" alt="homem aranha" />Marvel
        Unlimited</a
      >
    </div>

    <div class="home-informacoes-personagens">
      <div class="home-informacoes-personagens-header">
        <h1>Personagens</h1>
        <p>
          Confira a lista completa com todos os personagens já apresentados no
          MCU
        </p>
      </div>

      <div class="loading">
        <ng-template #indicatorTemplate
          ><i nz-icon nzType="loading"></i
        ></ng-template>
        <nz-spin
          nzSimple
          [nzIndicator]="indicatorTemplate"
          [nzSpinning]="loadingPersonagens"
        >
        </nz-spin>
      </div>

      <div class="home-informacoes-personagens-opcoes">
        <div
          class="home-informacoes-personagens-opcoes-item"
          *ngFor="let personagem of personagens"
        >
          <img
            src="{{ personagem.thumbnail.path }}.{{
              personagem.thumbnail.extension
            }}"
            [alt]="personagem.name"
          />
          <div class="home-informacoes-personagens-opcoes-item-footer">
            <p nz-tooltip [nzTooltipTitle]="personagem.name">
              {{ personagem.name }}
            </p>
            <img
              src="assets/images/mais.svg"
              alt="mais informações"
              (click)="getInformacoesDoPersoangem(personagem)"
            />
          </div>
        </div>
      </div>
      <div class="home-informacoes-personagens-ver-outros">
        <button nz-button (click)="irParaPersonagens()">Ver outros</button>
      </div>
    </div>
  </div>

  <div class="home-homem-aranha">
    <img src="assets/images/homem-aranha.svg" alt="homem aranha" />
  </div>
</div>
