<div class="imagem-de-apresentacao">
  <img style="width: 100%" src="assets/images/personagens-marvel.svg" />
  <div class="imagem-de-apresentacao-credito">
    <p>Foto: Marvel</p>
  </div>
</div>

<div class="mensagem-da-autora">
  <p>
    Esse site foi criado por <span>Madalena Campos</span>, para fins de estudo.
    Todas as informações coletadas estão disponível na
    <span>API da Marvel</span>. Tem alguma sugestão de melhoria? Envie um e-mail
    para <span>madacampos02@gmail.com</span> ou acesse o projeto via
    <span>github</span> e envie suas sugestões.
  </p>
</div>
