::ng-deep {
  nz-spin {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 32px;
      color: #c4332d !important;
    }
  }

  .ant-modal-body {
    background-color: #060606;
  }

  .ant-modal-close-x {
    color: #c4332d;
  }
}

.informacoes-do-personagem {
  display: flex;
  gap: 16px;

  &-imagem {
    img {
      min-width: 200px;
      max-width: 280px;
      min-height: 200px;
      max-height: 280px;
    }
  }

  &-nome-descricao {
    h1 {
      font-weight: 600;
      font-size: 32px;
      color: #ffffff;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      text-align: justify;
      color: #ffffff;
    }
  }
}

.comics-do-personagem {
  margin-top: 16px;

  h1 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    color: #ffffff;
  }

  &-lista {
    margin: 16px 0;
    max-height: 275px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;

    &-nao-ha-comics {
      margin: 16px;
      width: 400%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      position: relative;

      color: #c4332d;
      font-size: 16px;

      p {
        margin: 0;
      }
    }

    &-item {
      &-capa {
        img {
          width: 150px;
          height: 200px;
        }
      }

      &-titulo {
        p {
          margin-top: 5px;
          max-width: 90%;

          font-weight: 600;
          font-size: 10px;
          color: #ffffff;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
