<div class="informacoes-do-personagem">
  <div class="informacoes-do-personagem-imagem">
    <img
      src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"
      alt=""
    />
  </div>
  <div class="informacoes-do-personagem-nome-descricao">
    <h1>{{ character.name }}</h1>
    <p>
      {{
        character.description ||
          "Não há palavras para descrever esse(a) personagem!"
      }}
    </p>
  </div>
</div>

<div class="comics-do-personagem">
  <h1>Quadrinhos</h1>
  <p>Esses são só alguns dos quadrinhos que esse(a) personagem faz parte.</p>

  <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
  <nz-spin
    nzSimple
    [nzIndicator]="indicatorTemplate"
    [nzSpinning]="loadingQuadrinhosDoPersonagem"
  >
  </nz-spin>

  <div class="comics-do-personagem-lista">
    <div
      class="comics-do-personagem-lista-item"
      *ngFor="let item of characterComics"
    >
      <div class="comics-do-personagem-lista-item-capa">
        <img
          src="{{ item.thumbnail.path }}.{{ item.thumbnail.extension }}"
          alt=""
        />
      </div>
      <div class="comics-do-personagem-lista-item-titulo">
        <p nz-tooltip [nzTooltipTitle]="item.title">{{ item.title }}</p>
      </div>
    </div>

    <div class="comics-do-personagem-lista-nao-ha-comics" *ngIf="naoHaComics">
      <i nz-icon nzType="info-circle" nzTheme="outline"></i>
      <p>
        Oh não! Esse(a) personagem não tem participação em nenhum quadrinho!
      </p>
    </div>
  </div>
</div>
