<nz-alert
  class="aviso-de-pesquisa"
  nzBanner
  nzCloseable
  nzMessage="Devido a alguns limites impostos pela API Marvel, só é possível a pesquisa por página. Por favor, faça uma pesquisa em cada página."
></nz-alert>

<div class="header">
  <div class="header-titulo">
    <h1>Personagens</h1>
    <p>
      Confira a lista completa com todos os personagens já apresentados no MCU.
    </p>
  </div>
  <div class="header-barra-de-busca">
    <nz-input-group nzSize="large" [nzSuffix]="suffixIcon">
      <input
        nz-input
        type="text"
        placeholder="Informe o nome do personagem..."
        (input)="filtrarPersonagens($event)"
      />
    </nz-input-group>
    <ng-template #suffixIcon>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
</div>

<nz-pagination
  class="paginacao"
  [(nzPageIndex)]="pageIndex"
  [nzPageSize]="limit"
  [nzTotal]="total"
  (nzPageIndexChange)="mudarPagina($event)"
></nz-pagination>

<div class="loading">
  <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
  <nz-spin
    nzSimple
    [nzIndicator]="indicatorTemplate"
    [nzSpinning]="loadingPersonagens"
  >
  </nz-spin>
</div>

<div class="lista-de-personangens">
  <div
    class="lista-de-personangens-item"
    *ngFor="let character of personagemFiltrado"
  >
    <div class="lista-de-personangens-item-imagem">
      <img
        src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"
        [alt]="character.name"
      />
    </div>
    <div class="lista-de-personangens-item-footer">
      <p nz-tooltip [nzTooltipTitle]="character.name">{{ character.name }}</p>
      <img
        src="assets/images/mais.svg"
        alt="mais informações"
        (click)="getInformacoesDoPersonagem(this.character)"
      />
    </div>
  </div>
</div>

<nz-pagination
  class="paginacao"
  [(nzPageIndex)]="pageIndex"
  [nzPageSize]="limit"
  [nzTotal]="total"
  (nzPageIndexChange)="mudarPagina($event)"
></nz-pagination>
