<div class="header-personangens">
  <h1>Characters Marvel</h1>
  <div class="header-personangens-barra-de-busca">
    <nz-input-group nzSize="large" [nzSuffix]="suffixIcon">
      <input
        placeholder="Informe o nome do personagem que deseja encontrar"
        nz-input
      />
    </nz-input-group>
    <ng-template #suffixIcon>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
</div>

<div class="lista-de-personangens">
  <div class="lista-de-personangens-item">
    <div class="lista-de-personangens-item-imagem">
      <img src="assets/images/morbius.png" width="200" alt="morbius" />
    </div>

    <div class="lista-de-personangens-item-sobre">
      <div class="lista-de-personangens-item-sobre-nome">
        <h2>Morbius</h2>
      </div>

      <div class="lista-de-personangens-item-sobre-detalhes">
        <button nz-button nzShape="round">Detalhes</button>
      </div>
    </div>
  </div>
</div>
