<div class="header-personangens">
  <h1>Characters Marvel</h1>
  <div class="header-personangens-barra-de-busca">
    <nz-input-group nzSize="large" [nzSuffix]="suffixIcon">
      <input
        placeholder="Informe o nome do personagem que deseja encontrar"
        nz-input
      />
    </nz-input-group>
    <ng-template #suffixIcon>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
</div>

<div class="lista-de-personangens">
  <div class="lista-de-personangens-item" *ngFor="let item of characters">
    <div class="lista-de-personangens-item-imagem">
      <img
        src="{{ item.thumbnail.path }}.{{ item.thumbnail.extension }}"
        [alt]="item.name"
      />
    </div>
    <div class="lista-de-personangens-item-sobre">
      <div class="lista-de-personangens-item-sobre-nome">
        <h2>{{ item.name }}</h2>
      </div>

      <div class="lista-de-personangens-item-sobre-detalhes">
        <button
          (click)="this.getCharacterDetail(this.item.id)"
          nz-button
          nzShape="round"
        >
          Detalhes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="loading">
  <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
  <nz-spin
    nzSimple
    [nzIndicator]="indicatorTemplate"
    [nzSpinning]="loadingCharacters"
  >
  </nz-spin>
</div>
