::ng-deep {
  nz-spin {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 64px;
      color: #c4332d !important;
    }
  }

  nz-pagination {
    margin: 32px 0 !important;
    display: flex;
    justify-content: end;

    a {
      background-color: #060606;
      color: #ffffff !important;
    }

    button {
      background-color: #060606 !important;
      color: #ffffff !important;
    }
  }
}

.header-personangens {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(237, 29, 36, 0.52);
  }

  &-barra-de-busca {
    nz-input-group {
      border-radius: 5px;
      border-color: #ffffff;
      background-color: #060606;

      input {
        color: #ffffff;
        background-color: #060606;
      }

      i {
        color: #ffffff;
      }
    }

    &-aviso {
      margin-top: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      color: #c4332d;

      p {
        margin: 0;
      }
    }
  }
}

.lista-de-personangens {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 80px;
  align-items: center;
  justify-items: center;

  &-item {
    &-imagem {
      img {
        width: 300px;
        height: 300px;
        border-radius: 22px;
      }
    }

    &-sobre {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;

      &-nome {
        h2 {
          margin: 0;
          font-weight: 700;
          font-size: 18px;
          color: #ffffff;
        }
      }

      &-detalhes {
        button {
          border: none;
          background: #ed1d24;

          font-size: 12px;
          font-weight: 600;
          color: #ffffff;
        }
      }
    }
  }
}
