::ng-deep {
  nz-spin {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 64px;
      color: #ed1d24 !important;
    }
  }

  nz-pagination {
    margin: 32px 0 !important;
    display: flex;
    justify-content: end;

    a {
      background-color: #060606;
      color: #ffffff !important;
    }

    button {
      background-color: #060606 !important;
      color: #ffffff !important;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &-titulo {
    h1 {
      margin: 0;
      font-weight: 600;
      font-size: 32px;
      color: #ffffff;
    }
    p {
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      color: #ffffff;
    }
  }

  &-barra-de-busca {
    nz-input-group {
      width: 500px;
      border-radius: 5px;
      border-color: #ffffff;
      background-color: #060606;

      input {
        background-color: #060606;
        color: #ffffff;
      }

      i {
        color: #ffffff;
      }
    }
  }
}

.paginacao {
  margin: 16px 0;
}

.lista-de-personangens {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  align-items: center;
  justify-items: center;

  &-item {
    width: 280px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;

    &-imagem {
      img {
        width: 264px;
        height: 264px;
      }
    }

    &-footer {
      margin-top: 8px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;

      p {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;

        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      img {
        cursor: pointer;
        width: 30px;
        height: 30px;
      }
    }
  }
}
